.post-cards {
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  background-color: rgba(35, 69, 108, 0.6);
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}
